.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer p{
    color: var(--Grey400);
}
.footer a:link{
    color: var(--Cyan);
}
.footer a:visited{
    color: var(--Blue);
}
footer a{
    transform: scale(1);
    transition: transform .2s;
}
.footer a:hover{
    transform: scale(1.1);
    text-decoration: none;
}