h2{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 0 .5rem 0;
}
p{
    margin: 0 0 2rem;
    font-size: .8rem;
    color: var(--Grey400);
}
.img{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.3rem;
}
