.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.twoCards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.supervisor, .calculator, .karma, .teamBuilder{
    width: 290px;
    padding: 2rem;
    box-shadow: 0 10px 20px 0 rgba(20, 20, 200, 0.2);
    border-radius: 10px;
    position: relative;
    background-color: var(--White);
    overflow: hidden;
    cursor: pointer;
    transform: translateY(0) scale(1);
    transition: transform .2s ease;
}
.supervisor:hover, .calculator:hover, .karma:hover, .teamBuilder:hover{
    transform: translateY(-5px) scale(1.005);
}
.supervisor:before{
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--Cyan);
    z-index: 1;
}
.supervisor p{
    margin-right: 2rem;
}
.teamBuilder:before{
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--Red);
    z-index: 1;
}
.karma:before{
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--Orange);
    z-index: 1;
}
.calculator:before{
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--Blue);
    z-index: 1;
}
@media (max-width: 1150px) {
    .cards{
        flex-direction: column;
    }
    .twoCards{
        width: 100%;
        align-items: center;
    }
    .supervisor, .calculator, .karma, .teamBuilder{
        width: 90%;
        max-width: 800px;
    }
}