.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading h1{
    font-size: 2.2rem;
    font-weight: 300;
    margin: 0;
    letter-spacing: 0.5px;
}
.heading h2{
    font-size: 2.15rem;
    font-weight: 500;
    margin: 0;
    letter-spacing: 1px;
}
.heading p{
    margin: .6rem 0 5rem 0;
    font-size: .95rem;
    width: 45%;
    text-align: center;
}
h2{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 0 .5rem 0;
}
p{
    margin: 0 0 2rem;
    font-size: .8rem;
    color: var(--Grey400);
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.twoCards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.supervisor, .calculator, .karma, .teamBuilder{
    width: 290px;
    padding: 2rem;
    box-shadow: 0 10px 20px 0 rgba(20, 20, 200, 0.2);
    border-radius: 10px;
    position: relative;
    background-color: var(--White);
    overflow: hidden;
    cursor: pointer;
    transform: translateY(0) scale(1);
    transition: transform .2s ease;
}
.supervisor:hover, .calculator:hover, .karma:hover, .teamBuilder:hover{
    transform: translateY(-5px) scale(1.005);
}
.supervisor:before{
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--Cyan);
    z-index: 1;
}
.supervisor p{
    margin-right: 2rem;
}
.teamBuilder:before{
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--Red);
    z-index: 1;
}
.img{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.3rem;
}
.karma:before{
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--Orange);
    z-index: 1;
}
.calculator:before{
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--Blue);
    z-index: 1;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer p{
    color: var(--Grey400);
}
.footer a:link{
    color: var(--Cyan);
}
.footer a:visited{
    color: var(--Blue);
}
footer a{
    transform: scale(1);
    transition: transform .2s;
}
.footer a:hover{
    transform: scale(1.1);
    text-decoration: none;
}
@media (max-width: 1150px) {
    .heading{
        margin-top: 2rem;
        text-align: center;
    }
    .heading h1{
        font-size: 1.4rem;
    }
    .heading h2{
        font-size: 1.35rem;
    }
    .heading p{
        width: 100%;
        font-size: .9rem;
        margin-bottom: 3rem;
        max-width: 800px;
    }
    .cards{
        flex-direction: column;
    }
    .twoCards{
        width: 100%;
        align-items: center;
    }
    .supervisor, .calculator, .karma, .teamBuilder{
        width: 90%;
        max-width: 800px;
    }
}