.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading h1{
    font-size: 2.2rem;
    font-weight: 300;
    margin: 0;
    letter-spacing: 0.5px;
}
.heading h2{
    font-size: 2.15rem;
    font-weight: 500;
    margin: 0;
    letter-spacing: 1px;
}
.heading p{
    margin: .6rem 0 5rem 0;
    font-size: .95rem;
    width: 45%;
    text-align: center;
}
@media (max-width: 1150px) {
    .heading{
        margin-top: 2rem;
        text-align: center;
    }
    .heading h1{
        font-size: 1.4rem;
    }
    .heading h2{
        font-size: 1.35rem;
    }
    .heading p{
        width: 100%;
        font-size: .9rem;
        margin-bottom: 3rem;
        max-width: 800px;
    }
}